nav .nav__d div a :nth-child(n+1):hover {
  color: #fff;
  background-color: #374151;
}
nav .nav__a {
  max-width: 80rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
nav .nav__a #mobile-menu {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-out;
}
nav .nav__a #mobile-menu.show {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  visibility: visible;
  opacity: 1;
  transition: all 150ms ease-in;
}
@media only screen and (max-width: 576px) {
  nav .nav__a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media only screen and (max-width: 992px) {
  nav .nav__a {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
nav .nav__a .nav__b {
  height: 4rem;
}
nav .nav__a .nav__b .nav__c1 .nav__c1_1:hover {
  outline: 1px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: inset;
  --tw-ring-color: #374151;
  --tw-ring-offset-width: 1px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
nav .nav__a .nav__b .nav__c1 .nav__c1_1:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: inset;
  --tw-ring-color: #374151;
  --tw-ring-offset-width: 1px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
nav .nav__a .nav__b .nav__c2 {
  line-height: 3rem;
  height: 100%;
}
nav .nav__a .nav__b .nav__c2 .nav__c2_1 {
  height: 100%;
}
nav .nav__a .nav__b .nav__c2 .nav__c2_1 :nth-child(n) {
  color: #3a3a3a;
}
nav .nav__a .nav__b .nav__c2 .nav__c2_1 :nth-child(n):hover {
  color: #3b82f6;
  border-bottom: 2px solid #3b82f6;
}
nav .nav__a .nav__b .nav__c2 .nav__c2_1 .active {
  color: #3b82f6;
  border-bottom: 2px solid #3b82f6;
}
@media only screen and (max-width: 576px) {
  nav .nav__a .nav__b .nav__c3 {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-left: 1.5rem;
    padding-right: 0;
  }
}
nav .nav__a .nav__b .nav__c3 .nav__c3_1:hover {
  color: #fff;
}
nav .nav__a .nav__b .nav__c3 .nav__c3_1:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: inset;
  --tw-ring-color: #374151;
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
nav .nav__a .nav__b .nav__c3 .nav__c3_2:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: inset;
  --tw-ring-color: #374151;
  --tw-ring-offset-width: 2px;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
nav .nav__a .nav__b .nav__c3 .nav__c3_3 {
  display: none;
  width: 12rem;
  transform-origin: top right;
  --tw-ring-color: rgb(0 0 0);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
}
nav .nav__a .nav__b .nav__c3 .nav__c3_3:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}/*# sourceMappingURL=nav.css.map */