<div class="container bg-white py-5 rounded-5 shadown-lg border">
  <div data-custom-class="body">
    <div align="center" style="text-align: left">
      <div class="styles-documentPreviewer-881656">
        <div class="document-previewer-wrapper-a717db">
          <div data-custom-class="body">
            <div align="center" style="text-align: center; line-height: 115%">
              <div data-custom-class="heading_1" id="disclaimer" style="line-height: 1.5; text-align: left">
                <span style="font-size: 19px; color: rgb(0, 0, 0)"><strong>DISCLAIMER</strong></span>
              </div>
              <div style="line-height: 1; text-align: left"><br /></div>
              <div data-custom-class="body_text" style="line-height: 1.5; text-align: left">
                <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: #595959"
                  >THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SITE&rsquo;S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THIS SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE, (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF
                  TRANSMISSION TO OR FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</span
                >
              </div>
              <div style="line-height: 1.5; text-align: left"><br /></div>
              <div style="line-height: 1.5; text-align: left"><br /></div>
              <div style="line-height: 1.5"><br /></div>
              <div data-custom-class="heading_1" style="line-height: 1.5">
                <span style="font-size: 19px; color: rgb(0, 0, 0)"><strong>QUESTIONS</strong></span>
              </div>
              <div style="line-height: 1.5"><br /></div>
              <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; color: rgb(89, 89, 89)">If you have any questions concerning our return policy, please contact us at:</span></div>
              <div data-custom-class="body_text" style="line-height: 1.1"><br /></div>
              <div data-custom-class="body_text" style="line-height: 1.5">
                <span style="font-size: 15px"><span style="color: rgb(89, 89, 89)">(+84)123456789</span></span>
              </div>
              <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; color: rgb(89, 89, 89)">wharang@wharang.fun</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
