<div class="container bg-white py-5 rounded-5 shadown-lg border">
  <div data-custom-class="body">
    <div align="center" style="text-align: left">
      <div class="styles-documentPreviewer-881656">
        <div class="document-previewer-wrapper-a717db">
          <div data-custom-class="body">
            <div align="center" style="text-align: center; line-height: 115%">
              <div align="center" style="text-align: left; line-height: 150%">
                <strong
                  ><span style="font-size: 26px"><span data-custom-class="title">RETURN POLICY</span></span></strong
                >
              </div>
              <div align="center" style="text-align: left; line-height: 150%"><br /></div>
              <div align="center" style="text-align: left; line-height: 150%">
                <span style="font-size: 15px"
                  ><span style="color: rgb(89, 89, 89)"
                    ><strong><span data-custom-class="subtitle">Last updated November 11, 2022</span></strong></span
                  ></span
                >
              </div>
              <div align="center" style="text-align: left; line-height: 150%"><br /></div>
              <div align="center" style="text-align: left; line-height: 150%">
                <span style="font-size: 15px"><br /></span>
              </div>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">Thank you for your purchase. We hope you are happy with your purchase. However, if you are not completely satisfied with your purchase for any reason, you may return it to us for a full refund or an exchange. Please see below for more information on our return policy.</span></div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="heading_1" style="line-height: 115%">
              <strong><span style="line-height: 115%; font-family: Arial; font-size: 19px">RETURNS</span></strong>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">All returns must be postmarked within fifteen (15) days of the purchase date. All returned items must be in new and unused condition, with all original tags and labels attached.</span></div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="heading_1" style="line-height: 1.5">
              <strong><span style="line-height: 115%; font-family: Arial; font-size: 19px">RETURN PROCESS</span></strong>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">To return an item, please email customer service at wharang@wharang.fun to obtain a Return Merchandise Authorization (RMA) number. After receiving a RMA number,&nbsp;place the item securely in its original packaging&nbsp;and include your proof of purchase, then mail your return to the following address:</span></div>
            <div style="line-height: 1.1">
              <span style="font-size: 15px"
                ><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)"><br /></span
              ></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 115%">
              <span style="font-size: 15px"
                ><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">Wharang Inc.<br /></span
              ></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">Attn: Returns</span></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">RMA #</span></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="color: rgb(89, 89, 89)">__________</span></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">Ho Chi Minh City, __________</span></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">Vietnam</span></span>
            </div>
            <div style="line-height: 1.1"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">You may also use the prepaid shipping label enclosed with your package. Return shipping charges will be paid or reimbursed by us.&nbsp;</span></div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="heading_1" style="line-height: 1.5">
              <strong><span style="line-height: 115%; font-family: Arial; font-size: 19px">REFUNDS</span></strong>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89)">After receiving your return and inspecting the condition of your item, we will process your return or exchange. Please allow at least three (3) days from the receipt of your item to process your return or exchange.&nbsp;We will notify you by email when your return has been processed.</span></div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="heading_1" style="line-height: 1.5">
              <strong><span style="line-height: 115%; font-family: Arial; font-size: 19px">EXCEPTIONS</span></strong>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.1"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-weight: 400; text-indent: 0px; background-color: rgb(255, 255, 255)">The following items cannot be returned or exchanged:</span></div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <strong style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; text-align: start; text-indent: 0px; background-color: rgb(255, 255, 255)"><span style="font-size: 15px; color: rgb(89, 89, 89); font-family: sans-serif; font-style: normal; font-weight: 400; text-indent: 0px; background-color: rgb(255, 255, 255)">&nbsp; &nbsp; &nbsp;● &nbsp; &nbsp;&nbsp;</span></strong
              ><span style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-weight: 400; text-indent: 0px; background-color: rgb(255, 255, 255)">Free Stuff</span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <strong style="font-weight: 700; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; text-align: start; text-indent: 0px; background-color: rgb(255, 255, 255)"><span style="font-size: 15px; color: rgb(89, 89, 89); font-family: sans-serif; font-style: normal; font-weight: 400; text-indent: 0px; background-color: rgb(255, 255, 255)">&nbsp; &nbsp; &nbsp;● &nbsp; &nbsp;&nbsp;</span></strong
              ><span style="color: rgb(89, 89, 89); font-family: sans-serif; font-size: 15px; font-style: normal; font-weight: 400; text-indent: 0px; background-color: rgb(255, 255, 255)">Damaged</span>
            </div>
            <div data-custom-class="body_text" data-empty="true" style="line-height: 1.1">
              <span style="color: rgb(89, 89, 89)"
                ><span style="font-size: 15px"><br /></span
              ></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="color: rgb(89, 89, 89)"><span style="font-size: 15px">For defective or damaged products, please contact us at the contact details below to arrange a refund or exchange.</span></span>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="heading_1" style="line-height: 1.5">
              <span style="font-size: 19px; color: rgb(0, 0, 0)"><strong>QUESTIONS</strong></span>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; color: rgb(89, 89, 89)">If you have any questions concerning our return policy, please contact us at:</span></div>
            <div data-custom-class="body_text" style="line-height: 1.1"><br /></div>
            <div data-custom-class="body_text" style="line-height: 1.5">
              <span style="font-size: 15px"><span style="color: rgb(89, 89, 89)">(+84)123456789</span></span>
            </div>
            <div data-custom-class="body_text" style="line-height: 1.5"><span style="font-size: 15px; color: rgb(89, 89, 89)">wharang@wharang.fun</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
