<div class="container bg-white py-5 rounded-5 shadown-lg border">
  <div data-custom-class="body">
    <div align="center" style="text-align: left">
      <div class="styles-documentPreviewer-881656">
        <div class="document-previewer-wrapper-a717db">
          <div data-custom-class="body">
            &nbsp; &nbsp; &nbsp;
            <strong
              ><span style="font-size: 26px"><span data-custom-class="title">SHIPPING &amp; DELIVERY POLICY</span></span></strong
            ><br /><span style="color: rgb(127, 127, 127)"
              ><strong
                ><span style="font-size: 15px"><span data-custom-class="subtitle">Last updated November 11, 2022</span></span></strong
              ></span
            ><br /><br /><br />
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Please carefully review our Shipping &amp; Delivery Policy when purchasing our products. This policy will apply to any order you place with us.</span></span></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span data-custom-class="heading_1"
                ><strong
                  ><span style="color: rgb(127, 127, 127)"
                    ><span style="color: rgb(89, 89, 89); font-size: 15px"
                      ><span data-custom-class="heading_1"><strong>WHAT ARE MY SHIPPING &amp; DELIVERY OPTIONS?</strong></span></span
                    ></span
                  ></strong
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <strong><span data-custom-class="heading_2">In-Store Pickup</span></strong>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">In-store</span></span></span
              >
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">pickup is available for all purchases, certain purchases, &quot;ship to store&quot; purchases.&nbsp;</span><span data-custom-class="body_text">Pickups are available&nbsp;</span></span></span
              ><span data-custom-class="body_text">Monday - Friday from 9:00 AM - 6:00 PM</span>.
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">We offer various shipping options. In some cases a third-party supplier may be managing our inventory and will be responsible for shipping your products.</span></span></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <strong><span data-custom-class="heading_2">Free Shipping</span></strong>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">We offer free standard shipping on all orders</span></span></span
              ><span data-custom-class="body_text">.</span>
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="heading_1"><strong>DO YOU DELIVER INTERNATIONALLY?</strong></span></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">We do not offer international shipping.</span></span></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="heading_1"><strong>ARE THERE OTHER SHIPPING RESTRICTIONS?</strong></span></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="body_text"
                    ><span style="color: rgb(127, 127, 127)"
                      ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Orders cannot be shipped to P.O. boxes.</span></span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="body_text"
                    ><span style="color: rgb(127, 127, 127)"
                      ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Not all shipping methods are available for certain items.</span></span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="body_text"
                    ><span style="color: rgb(127, 127, 127)"
                      ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Orders only ship on business days, which are Monday - &nbsp;Friday.</span></span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="body_text"
                    ><span style="color: rgb(127, 127, 127)"
                      ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">To ensure same-day delivery, order must be placed by 5pm EST.</span></span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="body_text"
                    ><span style="color: rgb(127, 127, 127)"
                      ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Shipments to APO/FPO addresses require additional processing time after delivery to the military post office.</span></span></span
                    ></span
                  ></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"
                  ><span data-custom-class="heading_1"><strong>HOW CAN YOU CONTACT US ABOUT THIS POLICY?</strong></span></span
                ></span
              >
            </div>
            <div style="line-height: 1.5"><br /></div>
            <div style="line-height: 1.5">
              <span style="color: rgb(127, 127, 127)"
                ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">If you have any further questions or comments, you may contact us by:</span></span></span
              >
            </div>
            <ul>
              <li style="line-height: 1.5">
                <span style="color: rgb(127, 127, 127)"
                  ><span style="color: rgb(89, 89, 89); font-size: 15px"><span data-custom-class="body_text">Phone: (+84)123456789</span></span></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p><br /></p>
      <p><br /></p>
      <p><br /></p>
      <p><br /></p>
      <div class="custom_fc_frame fc-widget-small" style="bottom: 15px; right: 15px"><iframe name="fc_widget" title="Chat" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0"></iframe></div>
    </div>
  </div>
</div>
